<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<p th:text="${book.getBookName()} + ', ' + ${book.getAuthor} + ', ' + ${book.getYearOfRelease()}"> text </p>
<br/>

<div th:if="${owner}">
    <span>Книга сейчас у:</span> <span th:text="${owner.getPersonName()}">Person name</span>

    <form th:method="PATCH" th:action="@{/books/{bookId}/release(bookId=${book.getBookId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому её назначить?</span>
    <form th:method="PATCH" th:action="@{/books/{bookId}/assign(bookId=${book.getBookId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{personId}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getPersonName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/books/{bookId}/edit(bookId=${book.getBookId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<form th:method="DELETE" th:action="@{/books/{bookId}(bookId=${book.getBookId()})}">
    <input type="submit" value="Удалить"/>
</form>

<hr/>

<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="Назад"/>
</form>

</body>
</html>